.padding-buttons{
  padding-top: 0.7vh;
}

.progress{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress mat-progress-bar{
  width: 50vw;
}

.progress p {
  padding:  0 3vw;
  max-width: 2vw;
}
