<div class="constainer" fxLayout="column" fxLayoutAlign="start" fxFlex="90">
  <div>
    <nav>
      <div fxFlex="5">
  <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
      </div>

<div fxFlex="100">
  <button mat-button color="primary" [routerLink]="['/explore']" [routerLinkActive]="'mat-button.active'" >Przeglądaj</button>
  <button mat-button color="primary" [routerLink]="['/radio']" [routerLinkActive]="'mat-button.active'" >Radio</button>

  <pre>biblioteka</pre>
  <mat-divider></mat-divider>

  <button mat-button color="primary" [routerLink]="['/rec']" [routerLinkActive]="'mat-button.active'">Ostatnio odtwarzane</button>
  <button mat-button color="primary" [routerLink]="['/podcasts']" [routerLinkActive]="'mat-button.active'">Podcasty</button>
  <button mat-button color="primary" [routerLink]="['/series']" [routerLinkActive]="'mat-button.active'">Serie</button>
  <button mat-button color="primary" [routerLink]="['/artists']" [routerLinkActive]="'mat-button.active'">Wykonawcy</button>
</div>

<div fxFlex="100">
  <pre>playlisty</pre>
  <mat-divider></mat-divider>

  <div class="playlists" *ngFor="let p of userPlaylists">
    <div fxFlex="100" fxLayoutAlign="center">{{p.title}}</div>

  </div>

</div>





</nav>
  </div>
  <mat-divider></mat-divider>
  <div class="playlist-button" fxFlex fxLayoutAlign="center" fxLayoutGap="2%">

    <button mat-mini-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    <pre>dodaj playliste</pre>


  </div>
