.constainer{

    position: fixed;
    width: 12%;
    height: 92%;
    min-width: 180px;

    top: 0px;
    left: 0px;
    color: rgb(255,255,255);
    background: rgb(87,59,72);
}

.mat-button {
  width: 100%;
  color: #fff;

}

pre{
  padding-top: 10px;
  font-variant: small-caps;
  text-align: center;
}

.playlist-button{
  margin-top: 3%;
}

.mat-button.active {
  border-right: rgb(87,63,82) solid 2px;

}

.single-ele{
  min-width: 100%;
}

.playlists{
  padding: 10px 0;
  cursor: pointer;
}



