<div class="constainer">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
<nav>
  <button mat-button color="primary" >Przeglądaj</button>
  <button mat-button color="primary" >Radio</button>

  <pre>biblioteka</pre>
  <mat-divider></mat-divider>

  <button mat-button color="primary" >Ostatnio odtwarzane</button>
  <button mat-button color="primary" >Podcasty</button>
  <button mat-button color="primary" >Serie</button>
  <button mat-button color="primary" >Wykonawcy</button>


  <pre>playlisty</pre>
  <mat-divider></mat-divider>


<div class="playlist-button">
  <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
</div>


</nav>

</div>
