

<div class="login-container"  fxLayout="row" fxLayoutAlign="center"[formGroup]="loginData">

<div fxLayout="column" fxFlex="80" fxLayoutAlign="auto" style="margin-top: 10vh">
  <mat-form-field >
    <input  type="text" matInput formControlName='email' placeholder="email" >

  </mat-form-field >

  <mat-form-field>
    <input  type="password" matInput formControlName='password' placeholder="password">
  </mat-form-field>


  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="2%">
  <button mat-raised-button color="primary" (click)="login()" > Sing In</button>
  <button mat-raised-button color="primary" [routerLink]="['/register']"> Sing Up</button>

  </div>

</div>


</div>




