<div class="container">
<table *ngIf=" podcast.length > 0; else noTracks">
  <thead>
  <tr>

    <th>Tytuł</th>
    <th>Wykonawca</th>
    <th>Data</th>
    <th class="action"></th>
  </tr>
  </thead>
  <!---->
  <tbody *ngFor="let t of podcast"  style="cursor: pointer">
  <tr >
    <td>{{t.title}}</td>
    <td>{{t.author}}</td>
    <td></td>
    <td> <button mat-button (click)="savePlaylistId(t.id)" ><mat-icon>add_circle</mat-icon></button></td>
  </tr>
  </tbody>

</table>

  <ng-template #noTracks>
    <p> Brak utworów</p>
  </ng-template>

</div>


