<div class="container" [formGroup]="searchForm">

  <div class="flex-container"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="2%"
  fxFlex="98">

  <mat-icon>search</mat-icon>

  <mat-form-field>
    <input  type="text" matInput formControlName='search' placeholder="search" [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let n of podcasts" [value]="n.name">
      {{ n?.name }}
    </mat-option>
  </mat-autocomplete>



<div  fxLayoutAlign="end"  fxFlex >

  <div class="user" >

    User Nickname
  </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>call_received</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Opcje</span>
      </button>
      <button mat-menu-item >
        <span>Konto</span>
      </button>
      <button mat-menu-item>
        <span (click)="logout()">Wyloguj</span>
      </button>
    </mat-menu>
</div>
  </div>




</div>


