.container{
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  width: 88%;
  height: 10%;
  top: 0px;
  left: 12%;

  color: rgb(255,255,255);
  background: linear-gradient(to bottom, rgb(87,63,82) , rgb(140,63,82));
}

.flex-container > mat-icon{

  margin-top: 1.2%;

}


mat-form-field {
  color: #fff;
  width: 30%;

}

.user{
  margin-top: 1.2%;
}
