.container{
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  width: 88%;
  height: 10%;
  top: 0px;
  left: 12%;
  color: rgb(255,255,255);
  background: linear-gradient(to bottom, rgb(87,63,82) , rgb(140,63,82));
}

.flex-container{

  display: flex;

  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-between;

}

.flex-container > *{


}


mat-form-field {
  color: #fff;
  width: 30%;

}
