<div class="my-dialog" fxLayout="column" fxLayoutGap="10" >
<div mat-dialog-content [formGroup]="addPlaylistForm">
  <p fxFlex="90" fxLayoutAlign="center center">Dodaj Playliste</p>
  <mat-divider></mat-divider>

  <mat-form-field fxFlex="100" fxLayoutAlign="center center" class="title_input">
    <input matInput placeholder="Podaj tytuł" formControlName='playlistTitle'>
  </mat-form-field>

  <div fxLayout="row">
    <div fxFlex="40"  fxLayout="column" fxLayoutAlign="center bottom">
      obrazy
      <div class="playlist_img">
      </div>
      <input type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden  accept="image/x-png,image/gif,image/jpeg"/>
      <button mat-raised-button id="uploadButton" color="primary" (click)="selectFile()">Wybierz obraz</button>
    </div>
    <div fxFlex="50" fxFlexOffset="10" fxLayout="column" fxLayoutAlign="center bottom">
      opis
      <mat-form-field class="example-full-width" fxLayoutAlign="center bottom">
        <textarea matInput rows="6" formControlName='description'></textarea>
      </mat-form-field>
    </div>

  </div>

</div>
<div mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button color="accent" (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button color="primary"[mat-dialog-close]="" (click)="onSubmit()" cdkFocusInitial>Utwórz</button>
</div>
</div>
