<mat-divider></mat-divider>
<div class="buttons" fxFlexAlign="end">
  <button mat-icon-button><mat-icon> arrow_back_ios</mat-icon></button>
  <button mat-icon-button><mat-icon> arrow_forward_ios </mat-icon></button>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%">

  <mat-card class="card"
            *ngFor="let s of setups"
            fxFlexOffset="2%"
  fxFlex = "3 4 20"

  >
    <mat-card-header>

    </mat-card-header>
    <img mat-card-image [src]="s.img" alt="Photo of a Shiba Inu" >
    <mat-card-title>{{s.title}}</mat-card-title>
    <mat-card-content>
      <p>
        {{s.description}}
      </p>
      <mat-divider></mat-divider>
      <p>{{s.observators}} observators</p>

    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>


